@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  font-family: "Libre Baskerville", serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.profile-icon {
  max-width: 8rem;
  height: auto;
}

.small-icon {
  max-width: 3.2rem;
  height: auto;
}

.icon-border {
  border-radius: 50%;
  box-shadow: 0 0 0 0.25rem var(--info);
}

.img-banner {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.post-img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
